nav {
    color: #fff;
    /* background-color: #ee6e73; */
    background: linear-gradient(to right, #4776e6, #8e54e9);
    width: 100%;
    height: 56px;
    line-height: 56px;
}
nav .brand-logo {
    position: relative;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
    left: 13%;
}

 .body {
    background-color: #f2f2f2;
 }
 section .bg-light {
    height: 100vh;
    background-color: #eff3f9!important;
}
.tableList{
    margin:2% 5%;
    width: 15%;
}
.card .card-content p {
    margin: 2% 5%;
}

#snackbar{
    display: none;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }